/* Colores */
/*Fuentes*/
/*Espaciados*/
/*Font-sice*/
/*MIXINS*/
/*MAP*/
/*EXTEND*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,700&display=swap" rel="stylesheet">');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

html {
  font-size: 61%; }

body {
  font-family: "poppins", sans-serif; }

ul {
  list-style-type: none; }

header {
  background-color: #6F3581;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(1rem);
  top: 0px; }
  header .menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: white; }
    header .menu__item {
      height: 100%;
      padding: 20px; }
    header .menu__link {
      color: white;
      text-decoration: none;
      font-size: 16px;
      padding: 0%;
      transition: all 300ms ease; }
    header .menu__item:hover {
      background-color: #e9c6fa;
      color: black; }
  header__item:hover a {
    color: black; }

.color_nav {
  background-color: #460863;
  font-size: 18px;
  position: sticky; }

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 100px;
  padding-top: 3%;
  font-size: 14px;
  background-image: linear-gradient(180deg, #660080, #ff8df3); }
  footer__logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    margin-left: 11%; }
  footer__contacto {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    margin-left: 35%;
    color: #ffffff;
    font-family: var("poppins", sans-serif);
    line-height: 29px; }
  footer__redes {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    margin-left: 40%;
    color: #ffffff;
    font-family: var("poppins", sans-serif); }
  footer__copyright {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: span 3;
    height: 5px;
    margin-left: 75%;
    color: var(black);
    font-family: var("poppins", sans-serif);
    font-size: 13px; }

@media screen and (max-width: 420px) {
  footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 170px 170px 120px 50px; }
  .footer__logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 8%;
    margin-left: 25%; }
  .footer__contacto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 10px;
    margin-left: 30%; }
  .footer__redes {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 10px;
    margin-left: 130px; }
  .footer__copyright {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column: span 3;
    margin-left: 5%;
    font-size: 10px; } }

#main-index {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto); }

.divider {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: span 6;
  height: 170px;
  width: 100%;
  background-color: #b34df37a;
  margin-top: 15px;
  justify-content: center;
  align-items: center; }
  .divider__text {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    color: black;
    font-family: "poppins", sans-serif;
    font-size: 16px; }
  .divider__div {
    width: 80%; }

.profile {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  background-color: rgba(233, 198, 240, 0.8);
  width: 70%;
  margin-left: 180px;
  padding: 8%;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  justify-content: center;
  align-items: center;
  transform: translateX(220px);
  margin: 4px; }
  .profile h2 {
    color: #634774;
    text-align: center;
    font-size: 30px;
    color: purple; }
  .profile p {
    color: #634774;
    text-align: justify;
    padding-top: 20px; }

.title__fondo {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  height: 80px;
  width: 360px;
  justify-content: center;
  align-items: flex-end;
  margin: 50px;
  margin-left: 300px; }
  .title__fondo h3 {
    font-family: "poppins", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to left, pink, #7B68EE, #FFBDE7, purple, pink);
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%; }

@keyframes color {
  from {
    background-position: 0% 50%; }
  to {
    background-position: 100% 50%; } }

.services {
  grid-row: span 6;
  grid-column: span 7; }

@media (min-width: 1200px) {
  .services {
    display: flex;
    justify-content: center;
    align-items: center; } }

.box-service {
  width: 20%;
  padding: 50px; }
  .box-service img {
    height: 100px;
    width: 100px;
    margin-left: 20px; }
  .box-service h2 {
    font-family: "poppins", sans-serif;
    font-size: 18px; }

/*Media 576 index*/
/*Media 768 index*/
/*Media 992 index*/
/*Media 1200 index*/
/*Media 420 index*/
@media (min-width: 420px) and (max-width: 576px) {
  #main-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 350px 40px 20px 200px; }
  .divider {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 6;
    height: 330px;
    width: 90%;
    margin-left: 16px;
    padding: 20px; }
    .divider__text {
      font-size: 11px;
      text-align: justify; }
  .profile {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column: span 1;
    height: 250px;
    width: 70%;
    margin-left: 58px;
    font-size: 13px;
    transform: translateX(1px) translateY(-30px); }
    .profile h2 {
      font-size: 15px; }
  .title__fondo {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    width: 155px;
    margin-left: 30%;
    transform: translateY(-30%); }
    .title__fondo h3 {
      font-size: 1px;
      width: 155px;
      font-size: 16px; }
  .services {
    transform: translateY(-14%); }
    .services div {
      grid-row-start: 6;
      grid-row-end: 7;
      align-items: center;
      margin-left: 20%;
      height: 70px;
      width: 70px; }
  .uno {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1; }
  .dos {
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 16%; }
  .tres {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 25%; }
  .cuatro {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 25%; }
  .cinco {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 25%; }
  .box-service h2 {
    font-size: 11px;
    transform: translateX(40px);
    font-weight: bold; } }

@media (min-width: 577px) and (max-width: 767px) {
  #main-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 350px 40px 20px 200px; }
  .divider {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 6;
    height: 330px;
    width: 90%;
    margin-left: 16px;
    padding: 20px; }
    .divider__text {
      font-size: 11px;
      text-align: justify; }
  .profile {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column: span 1;
    height: 250px;
    width: 70%;
    margin-left: 58px;
    font-size: 13px;
    transform: translateX(1px) translateY(-30px); }
    .profile h2 {
      font-size: 15px; }
  .title__fondo {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    width: 155px;
    margin-left: 30%;
    transform: translateY(-30%); }
    .title__fondo h3 {
      font-size: 1px;
      width: 155px;
      font-size: 16px; }
  .services {
    transform: translateY(-14%); }
    .services div {
      grid-row-start: 6;
      grid-row-end: 7;
      align-items: center;
      margin-left: 20%;
      height: 70px;
      width: 70px; }
  .uno {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1; }
  .dos {
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 16%; }
  .tres {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 25%; }
  .cuatro {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 25%; }
  .cinco {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 25%; }
  .box-service h2 {
    font-size: 11px;
    transform: translateX(40px);
    font-weight: bold; } }

/*Media 768 index*/
@media (min-width: 768px) and (max-width: 991px) {
  #main-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 250px 300px 100px 900px; }
  .divider {
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 6;
    height: 210px;
    width: 90%;
    margin-left: 40px;
    padding: 20px; }
    .divider__text {
      font-size: 11px;
      text-align: justify; }
  .profile {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column: span 1;
    height: 250px;
    width: 70%;
    font-size: 13px;
    transform: translateX(120px) translateY(0px); }
    .profile h2 {
      font-size: 15px; }
  .title__fondo {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    width: 155px; }
    .title__fondo h3 {
      font-size: 1px;
      width: 155px;
      font-size: 16px; }
  .services {
    transform: translateY(0px) translateX(85%);
    width: 250px;
    height: 900px; }
    .services div {
      grid-row-start: 4;
      grid-row-end: 5;
      align-items: center;
      margin-left: 20%;
      height: 70px;
      width: 70px; }
  .uno {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1; }
  .dos {
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 20%; }
  .tres {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 35%; }
  .cuatro {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 35%; }
  .cinco {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 35%; }
  .box-service h2 {
    font-size: 11px;
    transform: translateX(40px);
    font-weight: bold; } }

/*Media 768 index*/
@media (min-width: 992px) and (max-width: 1199px) {
  #main-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 250px 300px 100px 900px; }
  .divider {
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 6;
    height: 210px;
    width: 90%;
    margin-left: 40px;
    padding: 20px; }
    .divider__text {
      font-size: 11px;
      text-align: justify; }
  .profile {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column: span 1;
    height: 250px;
    width: 70%;
    font-size: 13px;
    transform: translateX(120px) translateY(0px); }
    .profile h2 {
      font-size: 15px; }
  .title__fondo {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    width: 155px;
    transform: translateX(100px); }
    .title__fondo h3 {
      font-size: 1px;
      width: 155px;
      font-size: 16px; }
  .services {
    transform: translateY(0px) translateX(120%);
    width: 250px;
    height: 900px; }
    .services div {
      grid-row-start: 4;
      grid-row-end: 5;
      align-items: center;
      margin-left: 20%;
      height: 70px;
      width: 70px; }
  .uno {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1; }
  .dos {
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 20%; }
  .tres {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 35%; }
  .cuatro {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 35%; }
  .cinco {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    padding-top: 1px;
    margin-top: 35%; }
  .box-service h2 {
    font-size: 11px;
    transform: translateX(40px);
    font-weight: bold; } }

.sobremi {
  margin-top: 8%;
  width: 90%; }

.intro-conoceme {
  background-image: url("../recursos/imagenintrosobremi.png");
  height: 30vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 20%; }
  .intro-conoceme h1 {
    font-size: 24px;
    font-family: "poppins", sans-serif;
    color: #521677e0;
    margin: 0%; }
  .intro-conoceme h4 {
    font-size: 24px;
    font-family: "poppins", sans-serif;
    color: #521677e0;
    margin: 0%; }
  .intro-conoceme p {
    font-size: 24px;
    text-align: center;
    margin: 0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: black;
    font-family: "poppins", sans-serif;
    margin-bottom: 30px; }

.box-conoceme-1 {
  background-color: #634774;
  margin-top: 30px;
  width: 90%;
  margin-left: 30px;
  margin-block-end: 5%;
  border-radius: 20px; }

.parrafo {
  font-size: 16px;
  font-family: "poppins", sans-serif; }

.parrafo-2 {
  font-size: 13px;
  font-family: "poppins", sans-serif; }

.title-service {
  flex-wrap: wrap;
  font-size: 42px;
  margin-top: 8%;
  color: #460863;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(201, 54, 214, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.box-circulo {
  height: 400px;
  width: 400px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: linear-gradient(90deg, pink, #b10ad3);
  margin-top: 5%;
  margin-left: 7%;
  overflow: hidden; }

.box-circulo:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 5px 5px #9b17d8;
  -webkit-box-shadow: 0px 0px 7px 7px #6a1283;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -webkit-transform: scale(0.9);
  transform: scale(0.9); }

.box-intro {
  background-image: url("../recursos/imagenintroservice.png");
  height: 40vh;
  width: 100wh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.service-intro-text {
  font-size: 24px;
  text-align: center;
  margin: 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: black;
  font-family: "poppins", sans-serif; }

.cita {
  font-size: 18px; }

.text-circulo-h {
  margin-left: 29%;
  font-size: 18px;
  margin-top: 15%;
  font-family: "poppins", sans-serif; }

.text-circulo-p {
  font-size: 16px;
  padding-top: 5%;
  font-family: "poppins", sans-serif;
  margin-left: 18%;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 60%; }

.img-circulo-1 {
  margin-top: 20%;
  margin-left: 5%; }

.img-circulo-2 {
  margin-top: 25%; }

.img-circulo-3 {
  margin-top: 25%; }

.img-circulo-4 {
  margin-top: 15%;
  margin-left: 20%; }

.img-circulo-5 {
  margin-top: 25%;
  margin-block-end: 5%; }

.circulo-5 {
  margin-block-end: 5%; }

.center-items {
  margin-left: 19%; }

.main__blog {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 10%;
  max-width: 1400px;
  column-gap: 80px;
  row-gap: 8px;
  padding: 10%;
  padding-left: 6%; }
  .main__blog div h2 {
    font-family: "poppins", sans-serif;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: Ellipsis; }
  .main__blog div p {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    text-overflow: ellipsis;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #474343;
    width: 100%; }

.intro-blog {
  min-height: 20vh;
  background-image: url("../recursos/imagenintroblog.png");
  height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.imag-blog {
  flex-wrap: wrap;
  flex: auto;
  width: 400px; }

.img-1 {
  flex-wrap: wrap;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: span 2;
  overflow: hidden;
  transition: all 300ms ease; }

.img-1:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 2px 2px #63098d;
  filter: opacity(0.5); }

.img-2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: span 2;
  overflow: hidden;
  transition: all 300ms ease; }

.img-2:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 2px 2px #63098d;
  filter: opacity(0.5); }

.img-3 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: span 2;
  overflow: hidden;
  transition: all 300ms ease; }

.img-3:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 2px 2px #63098d;
  filter: opacity(0.5); }

.img-4 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: span 2;
  overflow: hidden;
  transition: all 300ms ease; }

.img-4:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 2px 2px #63098d;
  filter: opacity(0.5); }

.img-5 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: span 2;
  overflow: hidden;
  transition: all 300ms ease; }

.img-5:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 2px 2px #63098d;
  filter: opacity(0.5); }

.img-6 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: span 2;
  overflow: hidden;
  transition: all 300ms ease; }

.img-6:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 2px 2px #63098d;
  filter: opacity(0.5); }

.art:hover {
  transition: all .4s ease;
  opacity: 0.6; }

.inter {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: span 6;
  margin-left: 40%;
  background-color: #6F3581;
  height: 100px;
  width: 300px;
  margin-top: -20%; }
  .inter__text {
    font-size: 300px;
    color: #ffffff;
    text-align: center;
    margin-top: 35px; }

.articulos {
  grid-column: span 2;
  margin-top: -40%;
  margin-left: 15%;
  display: flex; }
  .articulos__uno, .articulos__dos, .articulos__tres {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column: span 2;
    margin-right: 10%;
    margin-top: -1%; }

.art:hover {
  transition: all .4s ease;
  opacity: 0.6; }

.box-blog-text {
  justify-items: end;
  text-align: end; }

.blog-text {
  font-size: 20px;
  text-align: end;
  margin: 14px;
  margin-left: 50%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: black;
  font-family: "poppins", sans-serif; }

.main-formulario {
  margin-bottom: 300px; }

.intro__formulario {
  background-image: url("../recursos/imagenintroformulario.png");
  height: 40vh;
  width: 100wh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 22px; }
  .intro__formulario__text {
    text-align: end;
    text-overflow: ellipsis;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: black;
    font-family: "poppins", sans-serif; }

.titulo__formulario {
  background-color: rgba(195, 48, 240, 0.233);
  height: 80px;
  width: 360px;
  justify-content: center;
  align-items: flex-end;
  margin: 50px;
  margin-left: 600px;
  padding-top: 1px;
  -webkit-animation-name: cambiarColor;
  animation-name: cambiarColor;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
  .titulo__formulario__text {
    color: black;
    font-family: "poppins", sans-serif;
    font-size: 29px;
    margin-top: 12px;
    margin-left: 10px;
    color: #130113; }

@-webkit-keyframes cambiarColor {
  0% {
    background: linear-gradient(#570080, pink); }
  100% {
    background: linear-gradient(pink, purple); } }

.box-formulario {
  background-color: #b34df37a;
  margin-left: 578px;
  padding-top: 1px;
  width: 25%;
  padding: 30px; }

.text-formulario {
  color: black;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  margin-top: 12px;
  margin-left: 5%; }

.cajon-formulario {
  width: 85%;
  height: 80%;
  margin-left: 10%;
  box-sizing: 20%;
  padding: 9px; }

.botton {
  background-color: #b348f5c2;
  font-size: 18px;
  margin: 5%;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
  transition: all 300ms ease; }
  .botton:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

.box-adicional {
  width: 500px;
  height: 100px;
  margin: 50px;
  justify-content: center;
  align-items: flex-end;
  margin-left: 559px;
  padding-top: 1px; }

.titulo-adicional {
  font-size: 29px;
  margin-left: 1%;
  margin-block-end: 5%; }

.text-adicional {
  font-size: 16px;
  margin-left: 6%;
  justify-content: center; }

.cajon-formulario-2 {
  margin: 10%;
  padding: 6%; }
