.main-formulario {
    margin-bottom: 300px;
}
.intro__formulario {
    background-image: url('../recursos/imagenintroformulario.png');
    height: 40vh;
    width: 100wh;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(flex,null,center,flex-end);
    font-size: 22px;
        &__text {
    text-align: end;
    text-overflow: ellipsis;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: rgb(0, 0, 0);
    font-family: $font-principal;
}
}
.titulo__formulario {
    background-color: rgba(195, 48, 240, 0.233);
    @include tamanios(80px,360px);
    @include flex (null,null,center,flex-end);
    margin: 50px;
    margin-left: 600px;
    padding-top: 1px;
    -webkit-animation-name: cambiarColor;
    animation-name: cambiarColor;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
        &__text {
    color: rgb(0, 0, 0);
    font-family: $font-principal;
    font-size: 29px;
    margin-top: 12px;
    margin-left: 10px;
    color: rgb(19, 1, 19);
}
@-webkit-keyframes cambiarColor {
    0% {
    background: linear-gradient(rgb(87, 0, 128),pink);
    }
    100% {
    background: linear-gradient(pink, purple);
    }
}
}
.box-formulario {
    background-color:map-get($backgraund-color,alternative);
    margin-left: 578px;
    padding-top: 1px;
    width: 25%;
    padding: 30px;
}
.text-formulario {
    color: rgb(0, 0, 0);
    font-family: $font-principal;
    font-size: $text-small;
    margin-top: 12px;
    margin-left: 5%;
}
.cajon-formulario {
    width: 85%;
    height: 80%;
    margin-left: 10%;
    box-sizing: 20%;
    padding: 9px;
}
.botton {
    background-color: #b348f5c2;
    font-size: $text-large;
    margin: 5%;
    @include flex (null,null,center,center);
    width: 50%;
    overflow:hidden;
    transition: all 300ms ease;
    &:hover {
    -webkit-transform:scale(0.9);transform:scale(0.9);
}
}
.box-adicional { 
    width: 500px;
    height: 100px;
    margin: 50px;
    @include flex (null,null,center,flex-end);
    margin-left: 559px;
    padding-top: 1px;
}
.titulo-adicional {
    font-size: 29px ;
    margin-left: 1%;
    margin-block-end: 5%;
}
.text-adicional {
    font-size: $text-small;
    margin-left: 6%;
    justify-content: center;
}
.cajon-formulario-2 {
    margin: 10%;
    padding: 6%;
}

