#main-index {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:repeat(6,auto);
}
.divider {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 6;
    @include tamanios (170px,100%);
    background-color: map-get($backgraund-color, alternative);
    margin-top: 15px;
    @include flex (null,null,center,center);
        &__text {
            @include flex (null,null,center,center);
            text-align: center;
            margin-top: 5vh;
            color: rgb(0, 0, 0);
            font-family: $font-principal;
            font-size: $text-small;
        }
        &__div {
            width: 80%;
}
}
.profile {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    background-color: $alternative;
    width: 70%;
    margin-left: 180px;
    padding: 8%;
    font-size: $text-large; 
    font-family: $font-principal;
    @include flex (null,null,center,center);
    transform: translateX(220px);
    margin: 4px;
    h2 {
        color:map-get($backgraund-color,primary);
        text-align: center; 
        font-size: 30px;
        color: purple;
    }
    p {
        color:map-get($backgraund-color,primary);
        text-align: justify;
        padding-top: 20px;
}
}
.title__fondo {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    @include tamanios(80px,360px);
    @include flex (null,null,center,flex-end);
    margin: 50px;
    margin-left: 300px;
h3 {
    font-family: $font-principal;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: linear-gradient(to left, pink, #7B68EE,#FFBDE7, purple, pink);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;    
    @keyframes color {
        from {
            background-position: 0% 50%;
        }
        to {
            background-position: 100% 50%;
        }
}
}
}
.services {
    grid-row: span 6;
    grid-column: span 7;
}
.box-service {
    width: 20%;
    padding: 50px;
    img {
    @include tamanios (100px,100px);
    margin-left: 20px;
}
    h2 {
    font-family: $font-principal;
    font-size: $text-large; 
    font-weight: bold;
}
}
//Media 256-329 index//
@media (min-width: 256px) and (max-width: 329px){
    #main-index {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 600px 100px 40px 200px;
    }
    .divider {
        grid-column: span 6;
        @include tamanios(599px,90%);
        margin-left: 15px;
        padding: 10px;
        &__text {
            font-size: $text-xsmall;
            text-align: justify;
        }
    }
    .profile {
        grid-column-start: 1;
        grid-column: span 1;
        padding: 10px;
        @include tamanios(310px,70%);
        margin-left: 50px;
        font-size: 13px; 
        transform: translateY(-85px);
        h2{
            font-size: 16px;
        }
        p{
            font-size: $text-xsmall;
        }
    } 
    .title__fondo {
        grid-column-start: 1;
        width: 190px;
        margin-left: 23%;
        transform:  translateY(-50%);
        h3{
            width: 165px;
            font-size: $text-large;
        }
    }
    .services {
        transform:  translateY(-20%);
        div {
        align-items: center;
        margin-left: 12%;
        @include tamanios(70px,70px);
    }
    }
    .dos {
        margin-top: 16%;
    }
    .tres {
        padding-top: 1px;
        margin-top: 35%;
    }
    .cuatro {
        padding-top: 1px;
        margin-top: 35%;
    }
    .cinco {
        padding-top: 1px;
        margin-top: 35%;
    }
    .box-service {
            h2{
                font-size: 13px;
                transform:  translateX(40px);
            } 
        }
    }
//Media 330-399 index//
@media (min-width: 330px)  and (max-width: 399px){
    #main-index {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 460px 100px 40px 300px;
    }
    .divider {
        @include tamanios(470px,90%);
        margin-left: 15px;
        padding: 13px;
        &__text {
            font-size: $text-xsmall;
            text-align: justify;
        }
    }
    .profile {
        grid-column-start: 1;
        grid-column: span 1;
        @include tamanios(320px,70%);
        margin-left: 50px;
        font-size: 13px; 
        transform: translateY(-45px);
        h2{
            font-size: 16px;
        }
        p{
            font-size: $text-xsmall;
        }
    } 
    .title__fondo {
        grid-column-start: 1;
        width: 190px;
        margin-left: 23%;
        transform:  translateY(-60%);
        h3{
            width: 165px;
            font-size: $text-large;
        }
    }
    .services {
        transform:  translateY(-20%);
        div {
        align-items: center;
        margin-left: 12%;
        @include tamanios(70px,70px);
    }
    }
    .dos {
        margin-top: 16%;
    }
    .tres {
        padding-top: 1px;
        margin-top: 35%;
    }
    .cuatro {
        padding-top: 1px;
        margin-top: 35%;
    }
    .cinco {
        padding-top: 1px;
        margin-top: 35%;
    }
    .box-service {
            h2{
                font-size: 13px;
                transform:  translateX(40px);
            } 
        }
    }
//Media 400-499 index//
@media (min-width: 400px) and (max-width: 499px){
    #main-index {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 410px 100px 40px 200px;
    }
    .divider {
        @include tamanios(400px,90%);
        margin-left: 15px;
        padding: 10px;
        &__text {
            font-size: $text-xsmall;
            text-align: justify;
        }
    }
    .profile {
        grid-column-start: 1;
        grid-column: span 1;
        @include tamanios(240px,70%);
        padding: 13px;
        margin-left: 50px;
        font-size: 13px; 
        transform: translateY(-55px);
        h2{
            font-size: 16px;
        }
        p{
            font-size: $text-xsmall;
        }
    } 
    .title__fondo {
        grid-column-start: 1;
        width: 190px;
        margin-left: 23%;
        transform:  translateY(-100%);
        h3{
            width: 165px;
            font-size: $text-large;
        }
    }
    .services {
        transform:  translateY(-20%);
        div {
        align-items: center;
        margin-left: 12%;
        @include tamanios(70px,70px); 
    }
    }
    .dos {
        margin-top: 16%;
    }
    .tres {
        padding-top: 1px;
        margin-top: 22%;
    }
    .cuatro {
        padding-top: 1px;
        margin-top: 22%;
    }
    .cinco {
        padding-top: 1px;
        margin-top: 22%;
    }
    .box-service {
            h2{
                font-size: 13px;
                transform:  translateX(40px);
            } 
        }
    }
    
//Media 500-599 index//
@media (min-width: 500px)  and (max-width: 599px){
#main-index {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 355px 50px 20px 200px;
}
.divider {
    grid-column: span 6;
    @include tamanios(350px,90%);
    margin-left: 27px;
    margin-top: 14px;
    padding: 13px;
    &__text {
        font-size: $text-small;
        text-align: justify;
        margin-top: -1px;
    }
}
.profile {
    grid-column-start: 1;
    grid-column: span 1;
    padding: 14px;
    @include tamanios(210px,70%);
    font-size: 13px; 
    transform: translateX(80px) translateY(-30px);
    h2{
        font-size: $text-large;
    }
    p{
        font-size: $text-small;
    }
} 
.title__fondo {
    grid-column-start: 1;
    width: 155px;
    transform: translateX(-87%)  translateY(-60%);
    h3{
        width: 185px;
        font-size: $text-medium;
    }
}
.services {
    transform:  translateY(-14%);
    div {
    align-items: center;
    margin-left: 26%;
    @include tamanios(70px,70px);
}
}
.dos {
    margin-top: 16%;
}
.tres {
    padding-top: 1px;
    margin-top: 25%;
}
.cuatro {
    padding-top: 1px;
    margin-top: 25%;
}
.cinco {
    padding-top: 1px;
    margin-top: 25%;
}
.box-service {
        h2{
            font-size: $text-small;
            transform:  translateX(40px);
        } 
    }
}
//Media 599-749 index//
@media (min-width: 599px) and (max-width: 749px) {
    #main-index {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 260px 40px 20px 150px;
    }
    .divider {
        grid-column: span 6;
        height: 250px;
        width: 90%;
        margin-left: 30px;
        padding: 20px;
        &__text {
            font-size: 14px;
            text-align: justify;
            margin-top: 10px;
        }
    }
    .profile {
        grid-column-start: 1;
        grid-column: span 1;
        padding: 15px;
        height: 159px;
        width: 70%;
        font-size: 14px;
        transform: translateX(89px) translateY(-30px);
        h2 {
            font-size: 15px;
        }
    }
    .title__fondo {
        grid-column-start: 1;
        transform: translateX(-18%) translateY(-90%);
        h3 {
            font-size: 1px;
            width: 175px;
            font-size: $text-large;
        }
    }
    .services {
        transform: translateY(-19%);
        div {
            align-items: center;
            margin-left: 29%;
            height: 70px;
            width: 70px;
        }
    }
    .dos {
        margin-top: 13%;
    }
    .tres {
        padding-top: 1px;
        margin-top: 15%;
    }
    .cuatro {
        padding-top: 1px;
        margin-top: 15%;
    }
    .cinco {
        padding-top: 1px;
        margin-top: 15%;
    }
    .box-service {
        h2 {
            font-size: 13px;
            transform: translateX(40px);
        }
    }
}
//Media 750-800 index//
@media (min-width: 750px) and (max-width: 800px) {
    #main-index {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 260px 40px 20px 150px;
    }
    .divider {
        grid-column: span 6;
        @include tamanios(250px,90%);
        margin-left: 30px;
        padding: 20px;
        &__text {
            font-size: 14px;
            text-align: justify;
            margin-top: 10px;
        }
    }
    .profile {
        grid-column-start: 1;
        grid-column: span 1;
        padding: 15px;
        @include tamanios(159px,70%);
        font-size: 14px;
        transform: translateX(100px) translateY(-30px);
        h2 {
            font-size: 15px;
        }
    }
    .title__fondo {
        grid-column-start: 1;
        transform: translateX(-7%) translateY(-90%);
        h3 {
            font-size: 1px;
            width: 175px;
            font-size: $text-large;
        }
    }
    .services {
        transform: translateY(-19%);
        div {
            align-items: center;
            margin-left: 32%;
            @include tamanios(70px,70%);
        }
    }
    .dos {
        margin-top: 13%;
    }
    .tres {
        padding-top: 1px;
        margin-top: 15%;
    }
    .cuatro {
        padding-top: 1px;
        margin-top: 15%;
    }
    .cinco {
        padding-top: 1px;
        margin-top: 15%;
    }
    .box-service {
        h2 {
            font-size: 13px;
            transform: translateX(40px);
        }
    }
}
//Media 800-899 index//
@media (min-width: 800px) and (max-width: 899px) {
    #main-index {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 260px 40px 20px 150px;
    }
    .divider {
        grid-column: span 6;
        @include tamanios(250px,90%);
        margin-left: 39px;
        padding: 20px;
        &__text {
            font-size: 14px;
            text-align: justify;
            margin-top: 10px;
        }
    }
    .profile {
        grid-column-start: 1;
        grid-column: span 1;
        @include tamanios(159px,70%);
        padding: 15px;
        font-size: 14px;
        transform: translateX(111px) translateY(-30px);
        h2 {
            font-size: 15px;
        }
    }
    .title__fondo {
        grid-column-start: 1;
        transform: translateX(-2%) translateY(-90%);
        h3 {
            font-size: 1px;
            width: 175px;
            font-size: $text-large;
        }
    }
    .services {
        transform: translateY(-19%);
        div {
            align-items: center;
            margin-left: 32%;
            @include tamanios(70px,70px);
        }
    }
    .dos {
        margin-top: 13%;
    }
    .tres {
        padding-top: 1px;
        margin-top: 15%;
    }
    .cuatro {
        padding-top: 1px;
        margin-top: 15%;
    }
    .cinco {
        padding-top: 1px;
        margin-top: 15%;
    }
    .box-service {
        h2 {
            font-size: 13px;
            transform: translateX(40px);
        }
    }
}
//Media 900-1000 index//
@media (min-width: 900px) and (max-width: 1199px) {
    #main-index {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 220px 40px 20px 130px;
    }
    .divider {
        grid-column: span 6;
        @include tamanios(200px,100%);
        padding: 20px;
        &__text {
            font-size: 14px;
            text-align: justify;
            margin-top: 10px;
        }
    }
    .profile {
        grid-column-start: 1;
        grid-column: span 1;
        padding: 15px;
        @include tamanios(159px,70%);
        font-size: 14px;
        transform: translateX(130px) translateY(-35px);
        h2 {
            font-size: 15px;
        }
    }
    .title__fondo {
        grid-column-start: 1;
        margin-left: 40%;
        transform: translateY(-60%);
        h3 {
            font-size: 1px;
            width: 175px;
            font-size: $text-large;
        }
    }
    .services {
        transform: translateY(-15%);
        div {
            align-items: center;
            margin-left: 38%;
            @include tamanios(70px,70px);
        }
    }
    .dos {
        margin-top: 8%;
    }
    .tres {
        padding-top: 1px;
        margin-top: 12%;
    }
    .cuatro {
        padding-top: 1px;
        margin-top: 12%;
    }
    .cinco {
        padding-top: 1px;
        margin-top: 12%;
    }
    .box-service {
        h2 {
            font-size: $text-xsmall;
            transform: translateX(40px);
        }
    }
}
//Media 1200 index//
@media (min-width: 1200px) {
    .services {
        @include flex (flex, null, center, center);
    }
}