.title-service {
    flex-wrap: wrap;
    font-size: 42px;
    margin-top: 8%;
    color: #460863;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(201, 54, 214, 0.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.box-circulo {
    @include tamanios (400px,400px);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: linear-gradient(
    90deg, 
    pink,rgb(177, 10, 211));
    margin-top: 5%;
    margin-left: 7%;
    overflow:hidden;
}
.box-circulo:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 5px 5px #9b17d8;
    -webkit-box-shadow: 0px 0px 7px 7px #6a1283;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transform:scale(0.9);transform:scale(0.9);
}
.box-intro {
    background-image: url('../recursos/imagenintroservice.png');
    @include tamanios (40vh,100wh);
    background-repeat: no-repeat;
    background-size: cover;
    @include flex (flex,null,center,center);
}
.service-intro-text {
    font-size: $text-medium;
    text-align: center;
    margin: 0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: rgb(0, 0, 0);
    font-family: $font-principal;
}
.cita {
    font-size: $text-large;
}
.text-circulo-h {
    margin-left: 29%; 
    font-size: $text-large;
    margin-top: 15%;
    font-family: $font-principal;
}
.text-circulo-p {
    font-size: $text-small;
    padding-top: 5%;
    font-family: $font-principal;
    margin-left: 18%;
    @include flex (null,null,center,center);
    @include tamanios (15%,60%);
}
.img-circulo-1 {
    margin-top: 20%;
    margin-left: 5%;
}
.img-circulo-2 {
    margin-top: 25%;
}
.img-circulo-3 {
    margin-top: 25%;
}
.img-circulo-4 {
    margin-top: 15%;
    margin-left: 20%;
}
.img-circulo-5 {
    margin-top: 25%;
    margin-block-end: 5%;
}
.circulo-5 {
    margin-block-end: 5%;
}
.center-items {
    margin-left: 19%;
}